<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{household-delete-confirmation.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main th:with="name=${session.entryToDelete.get(subflow + 'MemberFirstName') + ' ' +
                             session.entryToDelete.get(subflow + 'MemberLastName')}"
            id="content" role="main" class="form-card spacing-above-35">
        <div class="form-card__content">
          <h1 class="h2"
              th:text="#{household-delete-confirmation.header(${name})}"></h1>
          <h2 th:text="#{household-delete-confirmation.is-that-okay}"></h2>
        </div>
        <div class="form-card__footer">
          <form method="post"
                th:action="'/' + ${flow} + '/' + ${subflow} + '/' + ${param.uuid} + '/delete'">
            <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                  text=#{household-delete-confirmation.yes})"/>
          </form>
          <a class="button spacing-above-35" th:href="'/' + ${flow} + '/householdList'"
             th:text="#{household-delete-confirmation.no}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
