<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title='Success')"></head>
<body >
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(title=#{how-this-works.how-this-works}, subtext=#{how-this-works.this-application-form})"/>
        <div class="form-card__content">
          <th:block th:replace="'fragments/honeycrisp/accordion' :: accordion(
            buttonLabel='Open accordion content',
            content=~{::accordionContent})">
            <th:block th:ref="accordionContent">
              <ul class="list--bulleted">
                <li th:text="'Reason one'"></li>
                <li th:text="'Reason two'"></li>
                <li th:text="'Reason three'"></li>
              </ul>
            </th:block>
          </th:block>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="'fragments/continueButton' :: continue"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
