<th:block
  th:replace="fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{income-types.title},
    header=#{income-types.header},
    subtext=#{income-types.sub-header},
    formAction=${formAction},
    inputContent=~{::inputContent})">
  <th:block th:ref="inputContent">
    <th:block th:replace="'fragments/inputs/checkboxFieldset' ::
      checkboxFieldset(inputName='incomeTypes',
      ariaLabel='header',
      content=~{::checkboxContent})">
        <th:block th:ref="checkboxContent">
          <th:block
            th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.job}, label=#{income-types.job})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.self}, label=#{income-types.self})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.unemployment}, label=#{income-types.unemployment})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.social-security}, label=#{income-types.social-security})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.retirement}, label=#{income-types.retirement})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.child-or-spousal-support}, label=#{income-types.child-or-spousal-support})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.pension}, label=#{income-types.pension})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.investment}, label=#{income-types.investment})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.capital-gains}, label=#{income-types.capital-gains})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.rental-or-royalty}, label=#{income-types.rental-or-royalty})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.farm-or-fish}, label=#{income-types.farm-or-fish})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.alimony}, label=#{income-types.alimony})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.taxable-scholarship}, label=#{income-types.taxable-scholarship})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.cancelled-debt}, label=#{income-types.cancelled-debt})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.court-awards}, label=#{income-types.court-awards})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.gambling}, label=#{income-types.gambling})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.jury-duty-pay}, label=#{income-types.jury-duty-pay})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes',value=#{income-types.other}, label=#{income-types.other})"/>
        </th:block>
    </th:block>
  </th:block>
</th:block>