<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fieldset" th:with="hasHelpText=${fieldsetHelpText != null}" class="form-group">
  <fieldset th:attr="aria-describedby=${hasHelpText ? inputName + '-help-text' : ''}">
    <legend class="form-question"
            th:id="${inputName + '-legend'}"
            th:inline="text">
      [[${label}]]
      <p class="text--help"
         th:if="${hasHelpText}"
         th:id="${inputName + '-help-text'}"
         th:text="${fieldsetHelpText}"></p>
    </legend>
    <th:block th:replace="${content}"/>
  </fieldset>
</div>
</body>
</html>
