<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="number"
    th:with="
      hasHelpText=${!#strings.isEmpty(helpText)},
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)}"
    th:assert="${!#strings.isEmpty(inputName)},, ${hasLabel || hasAriaLabel}">
  <div class="form-group">
    <label th:if="${hasLabel}" th:for="${inputName}" th:text="${label}" class="form-question"/>
    <p class="text--help"
       th:if="${hasHelpText}"
       th:id="${inputName + '-help-text'}"
       th:text="${helpText}"></p>
    <input type="number" class="text-input form-width--med"
           th:id="${inputName}"
           th:name="${inputName}"
           th:placeholder="${placeholder}"
           th:attr="
            aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
            aria-labelledby=${hasAriaLabel ? ariaLabel : ''}">
  </div>
</th:block>
</body>
</html>
