<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="firstInput">
  <div class="form-card">
    <label for="text-input"><strong th:text="This is a test label"></strong></label>
    <p class="help-text" th:text="This is some test help text"></p>
    <input type="text" id="text-input">
  </div>
</th:block>
<th:block th:fragment="secondInput">
  <div class="form-card">
    <label for="text-input"><strong th:text="This is a test label"></strong></label>
    <p class="help-text" th:text="This is some test help text"></p>
    <input type="text" id="text-input">
  </div>
</th:block>
</html>