<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="textInput" th:with="hasHelpText=${helpText != null}">
  <div class="form-group">
    <label th:for="${inputName}" th:text="${label}" class="form-question" />
    <p class="text--help"
       th:if="${hasHelpText}"
       th:id="${inputName + '-help-text'}"
       th:text="${helpText}"></p>
    <input type="text" class="text-input"
           th:id="${inputName}" th:name="${inputName}"
           th:placeholder="${placeholder}"
           th:attr="aria-describedby=${hasHelpText ? inputName + '-help-text' : ''}">
  </div>
</th:block>
</th:block>
</html>