<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head('First Page')"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(title=#{first-page.header}, subtext=#{first-page.subheader})"/>
        <form>
          <div class="form-card__content">
            <th:block
                th:replace="'fragments/inputs/text' ::
                text(inputName='firstName',
                label=#{first-page.text-input-label},
                helpText=#{first-page.text-input-help},
                placeholder=#{first-page.text-input-placeholder})"/>
            <th:block th:replace="'fragments/inputs/textArea' ::
              textArea(inputName='area',
              label=#{first-page.text-area-label},
              helpText=#{first-page.text-area-help})"/>
            <th:block th:replace="'fragments/inputs/date' ::
              date(inputName='date',
              label=#{first-page.text-date-label})"/>
            <th:block th:replace="'fragments/inputs/number' ::
              number(inputName='age2',
              label=#{first-page.number-input-label},
              helpText=#{first-page.number-input-label},
              placeholder=#{first-page.number-input-placeholder})"/>
            <th:block th:replace="'fragments/inputs/fieldset' ::
              fieldset(inputName='gender',
              label='Actually a legend',
              fieldsetHelpText='Helper text',
              content=~{::genderContent})">
              <th:block th:ref="genderContent">
                <th:block
                    th:replace="'fragments/inputs/checkbox' :: checkbox(inputName='gender',value='MALE', label='A tall man', checkboxHelpText='This is helping, right?', checkboxIcon='favorite')"/>
                <th:block
                    th:replace="'fragments/inputs/checkbox' :: checkbox(inputName='gender',value='FEMALE', label='Female')"/>
              </th:block>
            </th:block>
            <th:block th:replace="'fragments/inputs/fieldset' ::
              fieldset(inputName='favoriteColor',
              label='What\'s your favorite color?',
              fieldsetHelpText='The only true answer is blue',
              content=~{::favoriteColorContent})">
              <th:block th:ref="favoriteColorContent">
                <th:block
                    th:replace="'fragments/inputs/radio' :: radio(inputName='favoriteColor',value='BLUE', label='Blue')"/>
                <th:block
                    th:replace="'fragments/inputs/radio' :: radio(inputName='favoriteColor',value='BABY BLUE', label='Baby blue')"/>
                <th:block
                    th:replace="'fragments/inputs/radio' :: radio(inputName='favoriteColor',value='NAVY BLUE', label='Navy blue')"/>
              </th:block>
            </th:block>
            <th:block
                th:replace="'fragments/inputs/select' :: select(label='What\'s your favorite fruit?', inputName='favoriteFruit', helpText='Mine is banana', content=~{::favoriteFruitContent})">
              <th:block th:ref="favoriteFruitContent">
                <th:block
                    th:replace="'fragments/inputs/selectOption' :: selectOption(value='APPLE', optionText='Apple')"/>
                <th:block
                    th:replace="'fragments/inputs/selectOption' :: selectOption(value='BANANA', optionText='Banana')"/>
                <th:block
                    th:replace="'fragments/inputs/selectOption' :: selectOption(value='KIWI', optionText='Kiwi')"/>
              </th:block>
            </th:block>
            <th:block
                th:replace="'fragments/inputs/money' :: money(
                inputName='money',
                label='How much money is enough money?',
                helpText='1 million dollars',
                placeholder='1,000,000')"/>
            <th:block
                th:replace="'fragments/inputs/phone' :: phone(
                inputName='phone',
                label='What is your phone number?',
                helpText='Area code included',
                placeholder='510-333-4444')"/>
            <th:block
                th:replace="'fragments/inputs/ssn' :: ssn(
                inputName='ssn',
                label='What is your social security number?',
                helpText='We will never share this with anyone',
                placeholder='123-45-6789')"/>
          </div>
          <th:block th:replace="fragments/inputs/yesOrNo :: yesOrNo(
            inputName='yesOrNo',
            helpText='A yes or no question')"/>
          <th:block th:replace="fragments/inputs/submitButton :: submitButton(
            text='Continue 🚀')" />
          <!--          <div class="form-card__footer">-->
          <!--            <button class="button button&#45;&#45;primary">Continue <i class="icon icon-arrow_forward"></i>-->
          <!--            </button>-->
          <!--            <button class="button">Go back <i class="icon icon-replay"></i></button>-->
          <!--          </div>-->
        </form>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>

