<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common_header :: common_header(~{::title},~{::link}, ~{::div})">

  <title>Awesome - Main</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">

  <div id="blah"></div>

</head>
<body>

  <th:block th:replace="fragments/form :: form_start"></th:block>
    <input type="text" name="first" />
    <input type="text" name="last" />
  <th:block th:replace="fragments/form :: form_end"></th:block>
</body>
</html>